$color-primary: #33528B;
$color-secondary: red;
body {
    position: relative;
    margin-top: -8px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.container {
    z-index: 100;
    padding-top: 4rem;
    width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 98%;
        padding-top: 0;
    }
    .subtitle {
        display: none;
    }
    .logo {
        text-align: center;
        padding-bottom: 3rem !important;
    }
    .menu {
        margin-bottom: 0.5rem;
    }
}

/* Stripes */

.stripes * {
    z-index: -100;
}

.stripe-projects {
    position: absolute;
    top: 1000px;
    left: 0px;
    width: 100%;
    height: 600px;
    background: rgb(51, 82, 139);
    background: linear-gradient(270deg, rgba(51, 82, 139, 0.5074404761904762) 0%, rgba(51, 82, 139, 0) 100%);
    transform: skewY(-12deg);
}

.stripe-top {
    position: absolute;
    top: -500px;
    width: 100%;
    height: 1200px;
    background: rgb(51, 82, 139);
    background: linear-gradient(270deg, rgba(51, 82, 139, 0.5074404761904762) 0%, rgba(51, 82, 139, 0) 100%);
    transform: skewY(-12deg);
}

/* Header */

.header {
    position: relative;
}

.logo {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    color: $color-primary;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.subtitle {
    color: rgb(95, 95, 95);
    margin-top: 0;
    margin-bottom: 0.5rem;
}

/* Hero */

.hero {
    position: relative;
    margin-bottom: 5rem;
}

.hero-text {
    max-width: 40%;
    width: 40%;
    margin-bottom: 2rem;
}

.hero-button {
    text-decoration: none;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    border-radius: 4px;
    font-weight: bold;
    display: inline-block;
}

.hero-button.hero-contact {
    color: white;
    background: $color-primary;
}

.hero-button.hero-projects {
    color: $color-primary;
    background: white;
}

.hero-image img {
    width: 20%;
    position: absolute;
    right: 10%;
    top: 0;
}

/* Menu */

.menu {
    word-spacing: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.menu a {
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-weight: 600;
}

.menu a:hover {
    color: grey;
}

.menu .menu-button {
    color: white !important;
    font-weight: bold;
    display: inline-block;
    background: $color-primary;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    border-radius: 4px;
}

/* Page */

.page {
    background: white;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    width: 100%;
    border-radius: 4px;
    margin-bottom: 2rem;
}

.page-body {
    padding: 1rem;
}

.page-title {
    padding: 0.7rem !important;
    background: $color-primary;
    color: white;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 3px 3px 0px 0px;
}

.page-title * {
    margin: 0;
}

/* Projects */

.project-container {
    position: relative;
    padding: 1rem;
    border-bottom: solid 1px grey;
}

.project-name * {
    margin-top: 0;
}

.project-name {
    width: 49%;
    margin-right: 0;
}

.project-description {
    display: inline-block;
    width: 49%;
}

.project-image {
    overflow: hidden;
    display: inline-block;
    margin: 1rem;
    position: absolute;
    right: 0;
    top: 0;
}

.project-image img {
    border: solid 1px grey;
    max-height: 100%;
}

/* Contacts */

/* Footer */

.footer {
    text-align: center;
    width: 100%;
    height: 30px;
    padding-top: 500px;
    margin-top: -480px;
    overflow: hidden;
    position: relative;
}

.footer::before {
    z-index: -100;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 300px;
    height: 2000px;
    background: #f6f9fc;
    -webkit-transform: skew(0, -12deg);
    transform: skew(0, -12deg);
}

/* Misc */

.shadow {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.text-grey {
    color: grey;
}

.button-hover:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}